.homeAmenities{
    padding: 50px 0;
    margin: auto;
    width: 80%;
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: space-evenly;
}
.homeVideo{
    width: 80%;
    margin: auto;
    display: flex;
    border-radius: 10px;
    border: 6px double gray;
    overflow: hidden;
    padding: 0;
    @media screen and (min-width: 768px) {
        width: 80%;
    }
    @media screen and (min-width: 1024px) {
        width: 80%;
    }
    @media screen and (min-width: 1300px) {
        width: 50%;
    }
}