.media1024{
    @media screen and (min-width: 768px) {
        flex-direction: column;
    }
    @media screen and (min-width: 1024px) {
        flex-direction: column;
    }
    @media screen and (min-width: 1280px) {
        flex-direction: row;
    }
    @media screen and (min-width: 2560px) {}
}