.planoSVG {
  margin: auto;
  position: relative;
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-image: url(../../assets/planoUsar.png);
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
}
.fnd{x: 200px;y: 200px;width: 230px;height: 250px;fill: white;rx: 10;ry: 10;}
.textManzana{font-size: 2em;}
.textInput{font-size: 2em; font-weight: bolder;}
.circle{fill: #b29756;stroke:black;stroke-width:3;cx: 300;cy: 300;r: 30;}
.circle2{fill: #b29756;stroke:black;stroke-width:3;cx: 850;cy: 300;r: 30;}

.fnd2{x: 750px;y: 200px;width: 230px;height: 250px;fill: white;rx: 10;ry: 10;}
.man {opacity: 0;cursor: pointer;
  &:hover {fill: #b29756;opacity: 1;}
}
.lot01,.lot02,.lot03,.lot04,.lot05,.lot06,.lot07,.lot08,.lot09,.lot10,.lot11,.lot12,.lot13,.lot14{
  opacity: 0;visibility: hidden;
}
.l01:hover + .lot01 {opacity: 1; visibility: visible;}
.l02:hover + .lot02 {opacity: 1; visibility: visible;}
.l03:hover + .lot03 {opacity: 1; visibility: visible;}
.l04:hover + .lot04 {opacity: 1; visibility: visible;}
.l05:hover + .lot05 {opacity: 1; visibility: visible;}
.l06:hover + .lot06 {opacity: 1; visibility: visible;}
.l07:hover + .lot07 {opacity: 1; visibility: visible;}
.l08:hover + .lot08 {opacity: 1; visibility: visible;}
.l09:hover + .lot09 {opacity: 1; visibility: visible;}
.l10:hover + .lot10 {opacity: 1; visibility: visible;}
.l11:hover + .lot11 {opacity: 1; visibility: visible;}
.l12:hover + .lot12 {opacity: 1; visibility: visible;}
.l13:hover + .lot13 {opacity: 1; visibility: visible;}
.l14:hover + .lot14 {opacity: 1; visibility: visible;}