.google-map-code {
  width: 90%;
  margin: auto;
  padding: 50px 0;
  @media screen and (min-width: 768px) {
    width: 80%;
  }
}
.ubicacion {
  img {
    margin: auto;
    width: 80%;
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: space-evenly;
    background: #f00;
  }
}
