.media10242{
    @media screen and (min-width: 780px) {
        flex-direction: row;
    }
    .financiacion-Imagen{
        padding-top: 100px;
        width: 100%;
        height: 260px;
        background-image: url(../../assets/senderos.jpg);
        background-size: cover;
        background-position: center bottom;
        border-radius: 20px;
        @media screen and (min-width: 780px) {
            width: 50%;
        }
        @media screen and (min-width: 1024px) {
            width: 60%;
            height: 300px;
            background-position: center;
        }
    }
}