.hero{
    width: 100vw;
    min-height: 500px;
    height: 100svh;
    /* background-image: url(../../assets/home-hero.jpg); */
    background-image: url(../../assets/home-hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    .hero-Text{
        left: 50%;
        top: 50px;
        transform: translateX(-50%);
        padding: 20px;
        width: 90%;
        border-radius: 20px;
        position: absolute;
        background: var(--primary80);
        @media screen and (min-width: 820px) {
            max-width: 860px;
        }
        .hero-button{
            margin-top: 20px;
            display: flex;
            justify-content: space-evenly;
            button{
                padding: 10px 10px;
            }
        }
    }
    .hero-Text-bottom{
        left: 50%;
        transform: translateX(-50%);
        bottom: 70px;
        padding: 20px;
        width: 100%;
        /* border-radius: 20px; */
        text-align: center;
        position: absolute;
        background: var(--primary80);
        @media screen and (min-width: 820px) {
            /* max-width: 860px; */
        }
    }
}