.equilibrio{
    margin: auto;
    width: 80%;
    display: flex;
    gap: 50px;
    flex-direction: column;
    justify-content: space-between;
    @media screen and (min-width: 820px) {
        flex-direction: row;
    }
    .equilibrio-text{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        @media screen and (min-width: 820px) {
            width: 70%;
        }
    }
    .equilibrio-card{
        width: 350px;
        background: rgba(255, 255, 255, 0.1);
        /* background: var(--primary80); */
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        padding: 20px;
        /* gap: 20px; */
        align-self: center;
        @media screen and (min-width: 820px) {
            width: auto;
        }
    }
}