footer{
    position: relative;
    padding-top: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* background: rgba(255, 0, 0, 0.5); */
    .copy{
        width: 100%;
        padding: 10px;
        background: var(--primary80);
        p{text-align: center;}
        .derechos{
            padding: 10px;
            display: flex;
            justify-content: space-evenly;
            font-size: 0.7em;
        }
    }
    .footerHeader{
        width: 100%;
        padding: 20px 0;
        background: var(--primary);
        @media screen and (min-width: 820px) {
            /* padding: 20px 100px; */
        }
        @media screen and (min-width: 1900px) {
            /* padding: 20px 230px; */
        }
    }
}
.footer{
    overflow-x: hidden;
    width: 100%;
    display: flex;
    padding: 10px;
    gap: 50px;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    .cajaMutual, .navFooter, .redes-Footer{
        width: 300px;
        height: 350px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    .navFooter, ul{
        display: flex;
        flex-direction: column;
        align-items: baseline;
        gap: 15px;
    }
    .redes-Footer, .number{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        gap: 15px;
    }
    .redes{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: row;
        gap: 15px;
    }
    @media screen and (min-width: 820px) {
        flex-direction: row;
    }
}
.goTop{
    width: 40px;
    height: 40px;
    background-color: rgba(255, 0, 255, 0.9);
    /* background-color: rgba(255, 255, 255, 0.1); */
    display: flex;justify-content: center;align-items: center;
    position: absolute;
    border-radius: 50%;
    padding: 5px;
    right: 5%;
    bottom: 15%;
    z-index: 99;
    cursor: pointer;
    transition: color 0.3s;
    &:hover{
        color: black;
    }
}