#home{
    width: 100vw;
    height: 82px;
    background-color: transparent;
    position: relative;
}
.navBar{
    width: 100vw;
    height: 80px;
    position: fixed;
    z-index: 9999;
    background: var(--primary);
    /* filter: drop-shadow(0 0 5px rgba(0, 0, 0, 1)); */
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    @media screen and (min-width: 820px) {
        background: linear-gradient(180deg, rgba(6, 12, 20, 0.45), rgba(6, 12, 20, 0.12));
    }
}
.menu{
    width: 50px;height: 50px;
    position: fixed;
    top: 0;right: 0;z-index: 999;
    box-shadow:inset 1px -2px 2px rgba(255, 255, 255, .3);
    background-image: url(../assets/menu2.svg);
    background-repeat: no-repeat;background-position: center;background-size: 50%;border-radius: 0 0 0 15px;
    cursor: pointer;
    transition: all 0.3s;
    &:hover{
        box-shadow: -1px 2px 1px rgba(255, 255, 255, 0.3);
        background-color: rgba(0, 0, 0, 0.3);
        background-size: 45%;
    }
    @media screen and (min-width: 820px) {
        display: none;
    }
}
.menuActive{
    background-image: url(../assets/close.svg);
}
.logo{
    width: 250px;height: 100%;
    filter: drop-shadow(0 0 10px rgb(0, 0, 0, ));
    position: absolute;
    z-index: 998;
    cursor: pointer;
    background-image: url(./logoHorizontal.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    left: 20px;
    @media screen and (min-width: 820px) {
        width: 150px;height: 80px;
        background-position: center;
        background-size: 100%;
        cursor: pointer;
    }
    @media screen and (min-width: 992px) {
        width: 250px;
        left: 100px;
        cursor: pointer;
    }
}
.nav{
    width: 100vw;height: 100dvh;
    position: absolute;
    z-index: 997;
    background: var(--fondoGradiente);
    display: flex;
    justify-content: center;align-items: center;flex-direction: column;
    transform: translateY(-101%);
    transition: all 0.5s;
    @media screen and (min-width: 820px){
        padding: 0px 10px;
        width: 75vw;
        max-width: 650px;
        height: 80px;
        right: 0;
        top: 0;
        flex-direction: row;
        transform: translateY(0%);
        background: transparent;
    }
}
.navActive{
    transform: translateY(0%);
}
.navItem{
    box-shadow: 0px 0px 2px rgba(255, 255, 255, .5);
    width: 100%;
    padding: 10px;
    font-size: 1.5em;font-weight: normal;color: gainsboro;
    cursor: pointer;
    transition: all 0.3s;
    text-decoration: none;
    &:hover{
        background-color:rgb(16 16 16);
    }
    @media screen and (min-width: 820px){
        color: gainsboro;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20%;
        height: 50%;
        font-size: 0.7em;
        text-align: center;
        box-shadow: 0px 0px 2px rgba(0, 0, 0, .0);
        &:hover{
            background-color: transparent;
            box-shadow: 0px 0px 2px rgba(255, 255, 255, .5);
        }
    }
}
.rs{
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 50px;
    padding: 10px;
    z-index: 999;
    background: rgb(16 16 16);
    @media screen and (min-width: 820px){
        bottom: -50px;
        width: 100px !important;
        padding: 0px;
        right: 10px;
        width: 100%;
        height: 50px;
        background: transparent;
    }
    @media screen and (min-width: 992px) {
        /* width: 120px !important; */
    }
}
.active{
    background: var(--primary);
    color: #fff;
    font-weight: 700;
    /* pointer-events: none; */
    cursor: not-allowed;
    /* opacity: 0.5; */
    text-align: center;
    font-weight: 900;
    font-size: 1.0em;
    @media screen and (min-width: 820px){
        background: transparent;
    }
  }